h1,h2{
    color:red;
    background-color: aqua;
}
.three{
    color:yellowgreen;
}
body{
    background-color:rgb(229, 182, 182);
}

.main {
    color: rgb(42, 121, 11);
   }
   h1{
    font-family: Arial;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
   }
   